-e .
pytest==6.2.4

aws-cdk.core==1.119.0
aws-cdk.aws-sns==1.119.0
aws-cdk.aws-dynamodb==1.119.0
aws-cdk.aws-ecs==1.119.0
aws-cdk.aws-lambda==1.119.0
aws-cdk.aws-s3==1.119.0
aws-cdk.aws-sns==1.119.0
aws-cdk.aws-sns-subscriptions==1.119.0
